@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: Roboto;
    color: white;
}

input {
    outline: none;
    box-shadow: none;
}

input {
    transition: background-color 0.2s ease, transform 0.2s ease;
}

input:hover {
    background-color: #3b3b3b;
    transform: scale(1.02);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-size: 128px;
    margin-bottom: 40px;
}

.input-group {
    display: flex;
    width: 600px;
    border-radius: 999px;
    overflow: hidden;
    background-color: #2e2e2e;
}

.input-left,
.input-right {
    border: none;
    padding: 20px;
    font-size: 16px;
    color: white;
    background-color: transparent;
}

.input-left {
    width: 80%;
}

.input-right {
    width: 20%;
}

.search-button {
    width: 20%;
    color: white;
    margin-top: 20px;
    background-color: #15a9ff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 999px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search-button-text {
    display: inline-block;
    transition: transform 0.2s ease;
}

.search-button:hover .search-button-text {
    transform: scale(1.1);
}

.search-button:hover {
    background-color: #3fb3f7;
}

.title {
    font-size: 128px;
    margin-bottom: 40px;
    transition: all 0.6s ease;
}

.title-shrink {
    font-size: 32px;
    transform: translateY(-320px);
    margin-bottom: 0;
}

.input-group-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.input-group-wrapper.fade-out {
    opacity: 0;
    transform: translateY(-50px);
    pointer-events: none;
}

.match-history-container {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;

    transition:
        width 0.4s ease,
        height 0.4s ease,
        opacity 0.4s ease;
}

.match-history-container.show {
    width: 820px;
    height: 730px;
    opacity: 1;
    pointer-events: auto;
}

.match-card {
    border: 3px solid #2e2e2e;
    width: 800px;
    height: 150px;
    background-color: #2a2a2a;
    border-radius: 16px;
    opacity: 0;
    transform: scale(0.9) translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: auto;
}

.match-card.show {
    opacity: 1;
    transform: scale(1) translateY(0);
}

.match-card:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.match-details {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 20px) scale(0.95);
    transform-origin: bottom center;
    width: 90vw;
    height: calc(100vh - 200px);
    background-color: #2a2a2a;
    border-radius: 20px;
    opacity: 0;
    padding: 40px;
    text-align: center;
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
    color: white;
}

.match-details.show {
    opacity: 1;
    transform: translate(-50%, 0px) scale(1);
    pointer-events: auto;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #15a9ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.back-button:hover {
    background-color: #3fb3f7;
}

.match-card-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.match-card-text {
    color: #e3e3e3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 500;
    z-index: 2;
}

.match-card-image {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 56%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;
    transition: transform 0.3s ease;
    pointer-events: none;
}

.match-card-image.left {
    left: 0;
    z-index: 1;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.match-card-image.right {
    right: 0;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}