.purchase-path {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.item-group {
    display: flex;
    flex-flow: row nowrap;
    border: 2px solid white;
    border-radius: 4px;
}

.item-icon {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}

.arrow {
    font-size: 24px;
    color: white;
}