.purchase-path {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.item-icon {
    width: 36px;
    height: 36px;
    object-fit: contain;
    border: 2px solid white;
    border-radius: 4px;
}

.arrow {
    font-size: 24px;
    color: white;
}