.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: #111;
  color: white;
  font-family: sans-serif;
  flex: 2;
  border: 3px solid white;
  border-radius: 20px;
  gap: 1rem;
}

.team {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.champion-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1e1e1e;
  padding: 0.1rem;
  border-radius: 4px;
}

.champion-icon {
  width: 1.8rem;
  height: 1.8rem;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  position: relative;
  border-radius: 4px;
}

.champion-icon.dead::after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-image: inherit;
  filter: grayscale(100%) brightness(50%);
  z-index: 0;
}

.death-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-weight: bold;
  font-size: 18px;
  z-index: 1;
}

.role-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.role-icon {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  opacity: 0.9;
}